<div id="top-level">
  <div id="uncached">
    <%= @blog %>
  </div>

  <%# View Component Dependency: Users::ExtendedUserComponent %>
  <% cache do %>
    <%= render @component %>
  <% end %>
</div>
